In [1]:
import pandas as pd
from pymongo import MongoClient
from collections import defaultdict
from urllib.parse import quote_plus
import requests

In [21]:
# Endpoint y dataset
url_proy = "https://ec.europa.eu/eurostat/api/dissemination/sdmx/3.0/data/dataflow/ESTAT/proj_23np/1.0/*.*.*.*.*.*?c[freq]=A&c[projection]=BSL,LFRT,LMRT,HMIGR,LMIGR,NMIGR&c[sex]=T,M,F&c[age]=Y_LT1,Y1,Y2,Y3,Y4,Y5,Y6,Y7,Y8,Y9,Y10,Y11,Y12,Y13,Y14,Y_LT15,Y15,Y15-64,Y15-74,Y16,Y17,Y18,Y19,Y_LT20,Y20,Y20-64,Y21,Y22,Y23,Y24,Y25,Y26,Y27,Y28,Y29,Y30,Y31,Y32,Y33,Y34,Y35,Y36,Y37,Y38,Y39,Y40,Y41,Y42,Y43,Y44,Y45,Y46,Y47,Y48,Y49,Y50,Y51,Y52,Y53,Y54,Y55,Y56,Y57,Y58,Y59,Y60,Y61,Y62,Y63,Y64,Y65,Y_GE65,Y66,Y67,Y68,Y69,Y70,Y71,Y72,Y73,Y74,Y75,Y_GE75,Y76,Y77,Y78,Y79,Y80,Y_GE80,Y81,Y82,Y83,Y84,Y85,Y86,Y87,Y88,Y89,Y90,Y91,Y92,Y93,Y94,Y95,Y96,Y97,Y98,Y99&c[unit]=PER&c[geo]=EU27_2020,ES&c[TIME_PERIOD]=2100,2099,2098,2097,2096,2095,2094,2093,2092,2091,2090,2089,2088,2087,2086,2085,2084,2083,2082,2081,2080,2079,2078,2077,2076,2075,2074,2073,2072,2071,2070,2069,2068,2067,2066,2065,2064,2063,2062,2061,2060,2059,2058,2057,2056,2055,2054,2053,2052,2051,2050,2049,2048,2047,2046,2045,2044,2043,2042,2041,2040,2039,2038,2037,2036,2035,2034,2033,2032,2031,2030,2029,2028,2027,2026,2025,2024,2023,2022&compress=true&format=csvdata&formatVersion=1.0&lang=en&labels=label_only"
url_hasta2024 = "https://ec.europa.eu/eurostat/api/dissemination/sdmx/3.0/data/dataflow/ESTAT/demo_pjan/1.0/*.*.*.*.*?c[freq]=A&c[unit]=NR&c[age]=Y_LT1,Y1,Y2,Y3,Y4,Y5,Y6,Y7,Y8,Y9,Y10,Y11,Y12,Y13,Y14,Y15,Y16,Y17,Y18,Y19,Y20,Y21,Y22,Y23,Y24,Y25,Y26,Y27,Y28,Y29,Y30,Y31,Y32,Y33,Y34,Y35,Y36,Y37,Y38,Y39,Y40,Y41,Y42,Y43,Y44,Y45,Y46,Y47,Y48,Y49,Y50,Y51,Y52,Y53,Y54,Y55,Y56,Y57,Y58,Y59,Y60,Y61,Y62,Y63,Y64,Y65,Y66,Y67,Y68,Y69,Y70,Y71,Y72,Y73,Y74,Y75,Y76,Y77,Y78,Y79,Y80,Y81,Y82,Y83,Y84,Y85,Y86,Y87,Y88,Y89,Y90,Y91,Y92,Y93,Y94,Y95,Y96,Y97,Y98,Y99&c[sex]=T,M,F&c[geo]=EU27_2020,ES&c[TIME_PERIOD]=2024,2023,2022,2021,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001,2000,1999,1998,1997,1996,1995,1994,1993,1992,1991,1990,1989,1988,1987,1986,1985,1984,1983,1982,1981,1980,1979,1978,1977,1976,1975,1974,1973,1972,1971,1970,1969,1968,1967,1966,1965,1964,1963,1962,1961,1960&compress=true&format=csvdata&formatVersion=1.0&lang=en&labels=label_only"

In [22]:
df_proyecciones = requests.get(url_proy, params=None)
df_proyecciones.raise_for_status()
df_proyecciones = pd.read_csv(
    url,
    sep=',',
    compression='gzip',
    dtype=str,        # o tu mapeo de dtypes
    na_values=[':']   # si quieres interpretar ':' como NaN
)

In [23]:
df_hasta24 = requests.get(url_hasta2024, params=None)
df_hasta24.raise_for_status()
df_hasta24 = pd.read_csv(
    url,
    sep=',',
    compression='gzip',
    dtype=str,        # o tu mapeo de dtypes
    na_values=[':']   # si quieres interpretar ':' como NaN
)

In [24]:
df_hasta24.head()

,DATAFLOW,LAST UPDATE,freq,projection,sex,age,unit,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG,CONF_STATUS
0,ESTAT:PROJ_23NP(1.0),28/06/23 23:00:00,Annual,Baseline projections,Females,Total,Person,Spain,2022,24195741,NaN,NaN
1,ESTAT:PROJ_23NP(1.0),28/06/23 23:00:00,Annual,Baseline projections,Females,Total,Person,Spain,2023,24518040,NaN,NaN
2,ESTAT:PROJ_23NP(1.0),28/06/23 23:00:00,Annual,Baseline projections,Females,Total,Person,Spain,2024,24729347,NaN,NaN
3,ESTAT:PROJ_23NP(1.0),28/06/23 23:00:00,Annual,Baseline projections,Females,Total,Person,Spain,2025,24884241,NaN,NaN
4,ESTAT:PROJ_23NP(1.0),28/06/23 23:00:00,Annual,Baseline projections,Females,Total,Person,Spain,2026,25008588,NaN,NaN

In [25]:
df_proyecciones.head()

,DATAFLOW,LAST UPDATE,freq,projection,sex,age,unit,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG,CONF_STATUS
0,ESTAT:PROJ_23NP(1.0),28/06/23 23:00:00,Annual,Baseline projections,Females,Total,Person,Spain,2022,24195741,NaN,NaN
1,ESTAT:PROJ_23NP(1.0),28/06/23 23:00:00,Annual,Baseline projections,Females,Total,Person,Spain,2023,24518040,NaN,NaN
2,ESTAT:PROJ_23NP(1.0),28/06/23 23:00:00,Annual,Baseline projections,Females,Total,Person,Spain,2024,24729347,NaN,NaN
3,ESTAT:PROJ_23NP(1.0),28/06/23 23:00:00,Annual,Baseline projections,Females,Total,Person,Spain,2025,24884241,NaN,NaN
4,ESTAT:PROJ_23NP(1.0),28/06/23 23:00:00,Annual,Baseline projections,Females,Total,Person,Spain,2026,25008588,NaN,NaN

In [26]:
SEX_MAP = {
    'Females': 'F',
    'Males':   'M',
    'Total':   'T'
}

# escenario proyecciones → modelo
SCENARIO_MAP = {
    'Baseline projections':                 'BSL',
    'Sensitivity test: lower fertility':    'LFRT',
    'Sensitivity test: lower mortality':    'LMRT',
    'Sensitivity test: higher migration':   'HMIGR',
    'Sensitivity test: lower migration':    'LMIGR',
    'Sensitivity test: no migration':       'NMIGR'
}

In [27]:
# --------------- FUNCIÓN AUXILIAR -----------------
def clean_eurostat(df: pd.DataFrame, observed=True) -> pd.DataFrame:
    """Normaliza columnas al esquema común."""
    # a) Renombrar
    df = df.rename(columns={
        'TIME_PERIOD': 'year',
        'OBS_VALUE':   'population',
        'geo':         'cod_nuts',
        'age':         'age',
        'sex':         'sex'
    })

    # b) Mapear sexo
    df['sex'] = df['sex'].map(SEX_MAP)

    # c) Escenario
    if observed:
        df['scenario'] = 'OBS'
    else:
        df['scenario'] = df['projection'].map(SCENARIO_MAP)
        df = df.drop(columns='projection')

    # d) year y population numéricos
    df['year']       = df['year'].astype(int)
    df['population'] = pd.to_numeric(df['population'], errors='coerce')

    # e) nuts_level
    def _nuts_level(code):
        return 0 if (code == 'EU27_2020' or len(code) == 2) else 2
    df['nuts_level'] = df['cod_nuts'].apply(_nuts_level)

    # f) Orden final y tipos
    cols = ['year','age','sex','scenario','cod_nuts','nuts_level','population']
    df = df[cols].copy()
    df['age']  = df['age'].astype('category')
    df['sex']  = df['sex'].astype('category')
    df['scenario'] = df['scenario'].astype('category')
    return df

In [28]:
# Normalizar históricos 1960-2024
df_hist_norm = clean_eurostat(df_hasta24, observed=True)

# Normalizar proyecciones 2022-2100
df_proj_norm = clean_eurostat(df_proyecciones, observed=False)

In [30]:
df_proj_norm

,year,age,sex,scenario,cod_nuts,nuts_level,population
0,2022,Total,F,BSL,Spain,2,24195741
1,2023,Total,F,BSL,Spain,2,24518040
2,2024,Total,F,BSL,Spain,2,24729347
3,2025,Total,F,BSL,Spain,2,24884241
4,2026,Total,F,BSL,Spain,2,25008588
...,...,...,...,...,...,...,...
2839,2096,Total,T,NMIGR,European Union - 27 countries (from 2020),2,302377162
2840,2097,Total,T,NMIGR,European Union - 27 countries (from 2020),2,300495932
2841,2098,Total,T,NMIGR,European Union - 27 countries (from 2020),2,298624849
2842,2099,Total,T,NMIGR,European Union - 27 countries (from 2020),2,296762844
2843,2100,Total,T,NMIGR,European Union - 27 countries (from 2020),2,294909040

In [31]:
# Configurar conexión
usuario = "jalope"
contrasena = "admin"
host = "127.0.0.1"
puerto = "27250"

uri = f"mongodb://{quote_plus(usuario)}:{quote_plus(contrasena)}@{host}:{puerto}/?directConnection=true"
client = MongoClient(uri)
db = client["tfm_db"]

In [32]:
coll = db['EUROSTAT_POP_NUTS_RAW']
coll.drop()
coll.insert_many(df_hist_norm.to_dict('records'))
print("Registros en la colección: ", coll.count_documents({}))
print("Número de filas de df_raw: ", len(df_hist_norm))

Registros en la colección:  2844
Número de filas de df_raw:  2844

In [33]:
coll = db['EUROSTAT_PEP_NUTS_RAW']
coll.drop()
coll.insert_many(df_proj_norm.to_dict('records'))
print("Registros en la colección: ", coll.count_documents({}))
print("Número de filas de df_raw: ", len(df_proj_norm))

Registros en la colección:  2844
Número de filas de df_raw:  2844